.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons{
    cursor: pointer;
}