.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons{
    cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 13px;
  }

  .images {
    justify-content: center;
  }

  .icons {
    font-size: 20px;
  }
}