.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    background: linear-gradient(to bottom, lightgreen, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link{
    color: white;
}

.link:hover{
    color: lightgreen;
    text-decoration: underline;
}


.logout{
    padding: 5px;
    border: none;
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;


}

.logout:hover{
    background-color: #1e3c72;
    color: white;
}

@media (max-width: 768px) {

  .menuIcon {
    display: block;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #111;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 15px;

    /* Hidden by default */
    transform: translateX(100%);
    transition: 0.3s ease;
  }

  /* When menu is open */
  .showMenu {
    transform: translateX(0);
  }

  .link {
    font-size: 16px;
  }

  .logout {
    width: 100%;
    text-align: center;
  }
}