.container{
  display: flex;
  align-items: center;
  gap: 100px;
}

.items{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.title{
  font-size: 50px;
  background: linear-gradient(to bottom, #194c33, white );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description{
  font-weight: 300;
  align-items: center;
  padding: 0px 60px 10px 30px;

}

.button{
  padding: 10px;
  margin-left:25px ;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 5px;
  width: max-content;
}

